@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
}

.intern-title {
  font-family: "Bebas Neue", sans-serif;
}

/* Setting up Typography Framework */ 
.intern-text-display {
  @apply font-bold text-[56px] leading-[64px];
}
.intern-text-p1 {
  @apply font-normal text-[16px] leading-[28px];
}
.intern-text-p3 {
  @apply font-normal text-[14px] leading-[20px];
}

a {
  @apply cursor-pointer;
}
h1 {
  @apply  font-bold text-[32px] md:text-[48px] leading-[42px] lg:leading-[64px];
}
h2 {
  @apply font-bold text-[32px] leading-[48px];
}
h3 {
  @apply font-bold text-[28px] leading-[36px];
}
h4 {
  @apply font-bold text-[24px] leading-[32px];
}
h5 {
  @apply font-bold text-[20px] leading-[32px];
}
h6 {
  @apply font-bold text-[16px] leading-[25px];
}
label {
  @apply font-medium text-[14px] leading-[20px];
}